.example-card {
    max-width: 100%;
    text-align: center;
  }
  .imagen-card{ 
   width: 100%;
   height: 100%;  
  }
 
  .container-image{
      width: 50%;
  }

  .descrition-chrarater{
      margin-left: 10px;
      margin-right: 10px;
  }

  .flex-container {
      display: flex;
  }

  .img-characters{
      cursor: pointer;
  }

  .title-card{
      text-align: center;
      font-size: 14px;
  }


 
  

  
 
