
.mat-card-image:first-child {
    margin-top: 0px !important; 
   
}

.mat-card-image {
    margin: 0 0px 0px 0px !important;
}

.picture-comic{
    height: 300px;
    width: 210px;
    object-fit: cover;
}

img{
    height: 300px !important;
    max-width: 210px !important;
    object-fit: cover !important; 
}

